.norm {font-family: Verdana; font-size: 9pt}
p.i:first-letter, .intl {font-family: Times New Roman; color: red; font-size: 1.5em}

a {text-decoration: none}
a:visited {color: gray}

.titl {font-family: Verdana; font-size: 48pt}
.menu {font-family: Arial; font-size: 12pt}
.menu a:link {color: black}
.menu a:hover {color: red}

.submenu {font-size: 8pt; line-height: 2em; margin-top: 1em}

h1, h2 {font-family: Arial; text-align: center}
h1 {font-size: 18pt; margin-top: 30}
h2 {font-size: 12pt}

